{% extends "base.html" %}
{% load static %}
{% block extra_title %}Welcome - Fresh Artisan Pizzas{% endblock %}
{% block content %}

<div id="main-index-bg" class="container-fluid d-flex flex-column h-100">
    <div class="row mt-2">
        <div class=" col col-12 col-md-12">
            <div class=" intro-section col-10 row d-flex flex-column flex-md-row align-items-center p-4 mx-auto">
                <div class="col-12 col-md-6 text-center mb-3 mb-md-0">
                    <div class="main-logo mx-auto animate pop"></div>
                    <p class="phone mt-3"><strong>T: 0161 245 4532</strong></p>
                </div>
                <div class="col-12 col-md-6 text-center text-sm-center text-md-left">
                    <div class="intro-text text-center">
                        <h1 class="brand-color">Welcome To D's</h1>
                        <div class="text-white">
                            <h2>~Artisan Pizza~</h2>                            
                            <h3>Hand crafted pizzas in Manchester</h3>
                            <h4 class="pt-2"> New: Gluten free pizza options</h4>
                            <p class="text-center ">Fresh. Hot. Ready.</p>
                            <hr>
                            <p class="text-center">Ready for your next flavour explosion?</p>
                        </div>
                        <div id="lets-go" class="col-12 col-md-4">
                            <a href="{% url 'menu' %}">Let's go!</a>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}