{% extends "base.html" %}
{% load static %}
{% block extra_title %}Management{% endblock %}
{% block content %}

<div class="container-fluid secondary-bg d-flex flex-column h-100">
    <div class="container card col-12 col-md-3 bg-light text-dark pt-2 mt-5">
 <div class="col-12 col-md-12 bg-light text-dark pt-3">
            <section>
                <h1 class="text-center">Great stuff - order recieved!</h1>
                <hr> 
                 <p class=><strong>Details:</strong></p>          
                <p>For: <Strong>{{order_name}}</Strong></p>
                <p>Order #: <Strong>{{order_ref}}</Strong></p>
                 <p class><strong>Summary:</strong></p>
                  {% for item in order.pizzaorderlineitems.all %}
                     <p>{{ item.quantity }} x {{ item.product }}</p>                    
                  {% endfor %}
                  <hr>
                  <p><strong>Items: {{item_count}}</strong></p>
                  <p><strong>Order total: £{{order.order_total}}</strong></p>
                  <hr>
            </section>
            <div class="mb-5 text-center">
                <a href="{% url 'home' %}" class="sm-4 btn btn-warning mr-3 justify-content-end">Home</a>
            </div>
        </div>
    </div>

{% endblock %}