 <ul class="d-flex justify-content-center list-unstyled">
            <li><a href="https://Facebook.com" target="_blank" rel="noopener"
                    aria-label="new tab - visit us on facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href="https://x.com" target="_blank" rel="noopener" aria-label="new tab - visit us on X"><i
                        class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="new tab - visit us on instagram"><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href="https://youtube.com" target="_blank" rel="noopener"
                    aria-label="new tab - visit us on youtube"><i class="fa-brands fa-square-youtube"></i></a></li>
</ul>