{% extends "base.html" %}
{% load static %}
{% block extra_title %}Menu{% endblock %}
{% block content %}

<div class="container-fluid secondary-bg d-flex flex-column h-100">

    <div class="row justify-content-center text-dark">
        <div class="col-lg-6">
            <!--Deals-->
            <section id="deals" class="mb-4">
                <h1 class="brand-heading-text text-center"> Our best seller deals</h1>
                <div class="row text-center">
                    <div class="row text-end">
                    <div class="brand-heading-text p-3">
                        <form method="get" action="{% url 'menu' %}">
                            <label for="allergen-filter">Filter products by:</label>
                            <select name="allergen-filter" id="allergen-filter" class="text-center">
                                <option value="default">---</option>
                                <option value="all">All</option>
                                <option value="vg">Veg (VG)</option>
                                <option value="gf">Gluten Free(GF)</option>
                                <option value="vg_gf">(VG)&(GF)</option>
                            </select>
                            <button type="submit" class="btn btn-warning">Filter</button>
                        </form>
                    </div>
                </div>
                    {% for deal in deals %}
                    <div class="offset-2 col-8 offset-sm-0 col-sm-3">
                        <div class="card mb-3">
                            <div class="card-body brand-text text-center">
                                {% if deal.pizza.is_veg == "Yes" and deal.pizza.is_gf == "Yes" %}
                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col">
                                            <p class="allergen-circle">VG</p>
                                            <p class="allergen-circle">GF</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif deal.pizza.is_veg == "Yes" %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="allergen-circle">VG</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif deal.pizza.is_gf == "Yes" %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="allergen-circle">GF</p>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <p class="allergen-circle-none">&nbsp</p>
                                {% endif %}
                                <p>{{ deal.name }}</p>
                                <p>{{ deal.pizza }}</p>
                                <p>{{ deal.side }}</p>
                                <p>{{ deal.drink }}</p>
                                <p>{{ deal.dessert }}</p>
                                <p>£{{ deal.price }}</p>
                                <a href="{% url 'product_detail' deal.id %}?item_type=deal"
                                    class="btn btn-outline-dark">View</a>
                                {% if request.user.is_authenticated and request.user.is_superuser %}
                                <p><strong>Status: {{deal.active}}</strong></p>
                                <a href="{% url 'update_product' deal.id %}?item_type=deal"
                                    class="btn btn-warning">Update</a>
                                <button class="btn btn-danger btn-delete-booking" data-product-id="{{ deal.id}}"
                                    data-product-type="deal" data-bs-toggle="modal"
                                    data-bs-target="#deleteConfirm">Delete</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!--Pizzas-->
            <section id="pizzas" class="mb-4">
                <h1 class="brand-heading-text text-center"> Something special...?</h1>
                <div class="row">
                    <div class="">
                        <h2 class="brand-heading-text text-center">Artisan Pizza's</h2>
                    </div>
                </div>
                <div class="row">
                    {% for item in pizza %}
                    <div class="offset-2 col-8 offset-sm-0 col-sm-3 mb-4">
                        <div class="card h-100">
                            <div class="card-body brand-text text-center">
                                {% if item.is_veg == "Yes" and item.is_gf == "Yes" %}
                                <div class="container text-center">
                                    <div class="row">
                                        <div class="col">
                                            <p class="allergen-circle">VG</p>
                                            <p class="allergen-circle">GF</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif item.is_veg == "Yes" %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="allergen-circle">VG</p>
                                        </div>
                                    </div>
                                </div>
                                {% elif item.is_gf == "Yes" %}
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <p class="allergen-circle">GF</p>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <p class="allergen-circle-none">&nbsp</p>
                                {% endif %}
                                <p class="card-title">{{ item.name }}</p>
                                <p class="card-text">£{{ item.price }}</p>
                                <a href="{% url 'product_detail' item.id %}?item_type=pizza"
                                    class="btn btn-outline-dark">View</a>
                                {% if request.user.is_authenticated and request.user.is_superuser %}
                                <p><strong>Status: {{item.active}}</strong></p>
                                <a href="{% url 'update_product' item.id %}?item_type=pizza"
                                    class="btn btn-warning">update</a>
                                <button class="btn btn-danger btn-delete-booking" data-product-id="{{ item.id}}"
                                    data-product-type="pizza" data-bs-toggle="modal"
                                    data-bs-target="#deleteConfirm">Delete</button>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

        <div class="col-8 offset-sm-0 col-sm-1 mb-4">
            <!--Sides-->
            <section id="sides">
                <h2 class="text-center product-heading brand-heading-text">Sides</h2>
                <div class="card mb-3">
                    <div class="card-body brand-text text-center">
                        {% for side in extras %}
                        {% if side.category == "Sides" %}
                        <p class="mt-3">{{ side.name }}</p>
                        <p><b>£{{ side.price }}</b></p>
                        <a href="{% url 'product_detail' side.id %}?item_type=side"
                            class="btn btn-outline-dark">View</a>
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                        <p><strong>Status: {{side.active}}</strong></p>
                        <a href="{% url 'update_product' side.id %}?item_type=side"
                            class="btn btn-warning mt-1">Update</a>
                        <button class="btn btn-danger btn-delete-booking" data-product-id="{{ side.id}}"
                            data-product-type="side" data-bs-toggle="modal"
                            data-bs-target="#deleteConfirm">Delete</button>

                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!--Drinks-->
            <section id="drinks">
                <h2 class="text-center product-heading brand-heading-text">Drinks</h2>
                <div class="card mb-3">
                    <div class="card-body brand-text text-center">
                        {% for drink in extras %}
                        {% if drink.category == "Drinks" %}
                        <p class=" mt-3">{{ drink.name }}</p>
                        <p><b>£{{ drink.price }}</b></p>
                        <a href="{% url 'product_detail' drink.id %}?item_type=drink"
                            class="btn btn-outline-dark">View</a>
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                        <p><strong>Status: {{drink.active}}</strong></p>
                        <a href="{% url 'update_product' drink.id %}?item_type=drink"
                            class="btn btn-warning mt-1">Update</a>
                        <button class="btn btn-danger btn-delete-booking" data-product-id="{{ drink.id}}"
                            data-product-type="drink" data-bs-toggle="modal"
                            data-bs-target="#deleteConfirm">Delete</button>

                        {% endif %}

                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
            <!--Desserts-->
            <section id="desserts">
                <h2 class="text-center product-heading brand-heading-text">Desserts</h2>
                <div class="card mb-3">
                    <div class="card-body brand-text text-center">
                        {% for dessert in extras %}
                        {% if dessert.category == "Desserts" %}
                        <p class=" mt-3">{{ dessert.name }}</p>
                        <p><b>£{{ dessert.price }}</b></p>
                        <a href="{% url 'product_detail' dessert.id %}?item_type=dessert"
                            class="btn btn-outline-dark mt-1">View</a>
                        {% if request.user.is_authenticated and request.user.is_superuser %}
                        <p><strong>Status: {{dessert.active}}</strong></p>
                        <a href="{% url 'update_product' dessert.id %}?item_type=dessert"
                            class="btn btn-warning mt-1">Update</a>

                        <button class="btn btn-danger btn-delete-booking" data-product-id="{{ dessert.id}}"
                            data-product-type="dessert" data-bs-toggle="modal"
                            data-bs-target="#deleteConfirm">Delete</button>

                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
        <!--"Sticky" cart in top right-->
        <div class="card sticky-cart d-none d-lg-block text-center">
            <p>Cart Overview:</p>
            <hr>
            <ul class="list-unstyled mb-2">
                <p>empty</p>
            </ul>
        </div>
    </div>
</div>

<!-- delete modal-->

<div class="modal text-dark" id="deleteConfirm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="deleteConfirmLabel">Delete confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center">
                    <p><strong>Note:</strong></p>
                    <p>Any deals associated with this item will also be deleted.</p>
                    <p>Have you considered making the item inactive?</p>
                     <hr>
                    <p><strong>Are you sure you want to permanently delete this product?</strong></p>                  
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="deleteConfirmation" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block postloadjs %}
<script src="{% static 'JS/management/management.js' %}"></script>

{% endblock %}