<p>At D’s Pizza, we believe great pizza starts with great ingredients.</p>
<p> Located in the heart of Manchester,
    we’re proud to serve handcrafted, artisan-style pizzas made fresh to order. Our dough is made daily, our
    sauces are slow-cooked in-house, and we only use the freshest toppings — locally sourced whenever
    possible.</p>

<p>Whether you're a fan of classic Margherita or craving bold, unique flavours, every pizza we make is a
    celebration of quality and craft.</p>
<p>No shortcuts. No compromises. Just honest, flavour-packed food made with care.</p>

<p> Please use the form below to subscribe - we will let you know when our latest inventions come out!</p>