<div class="modal text-dark" id="deleteConfirm" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="deleteConfirmLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="deleteConfirmLabel">Delete confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="text-center">
                    <p><strong>Note:</strong></p>
                    <p>If this product is in any deals, the <strong>deal will be deleted.</strong></p>
                    <p>Have you considered making the item inactive?</p>
                    <hr>
                    <p><strong>Are you sure you want to permanently delete this product?</strong></p>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="deleteConfirmation" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>