{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}Add {{ product }}{% endblock %}
{% block content %}


<div class="container-fluid secondary-bg d-flex flex-column h-100">
    <div class="container card col-12 col-md-3 text-dark text-left pt-3 mt-3 pb-3">
     <div class="p-3">
        <h1 class="text-center"> New {{product}}</h1>
        
    </div>
    <div class="row text-left">
        <div class="col text-left">           
            <form method="POST" class="text-left pl-2 ml-2">
                {% csrf_token %}
                <div class=" offset-1 col-10">
                {{ form | crispy }}</div>
                <div class="text-center">
                <button class="btn btn-warning" type="submit">submit</button>
                <button class="btn btn-danger" type="reset">reset</button>
                </div>
            </form>
        </div>
    </div>    
</div>   
</div>

{% endblock %}