{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_title %}Add {{ product }}{% endblock %}
{% block content %}


<div class="container-fluid secondary-bg d-flex flex-column h-100">
    <h1>About Us</h1>
    <div id="aboutus" class="row pt-5">
        <div class=" col-12 col-md-4 offset-md-1 text-center">
           <img id="ds-pizza-making" src="{% static 'images/about_us.webp' %}" alt="D's Artisan Pizza" class="img-fluid">
        </div>
        <div class="col-12 col-md-5 text-left mt-5">
             <p>At D’s Pizza, we believe great pizza starts with great ingredients.</p>
            <p> Located in the heart of Manchester,
            we’re proud to serve handcrafted, artisan-style pizzas made fresh to order. Our dough is made daily, our
            sauces are slow-cooked in-house, and we only use the freshest toppings — locally sourced whenever possible.</p>

            <p>Whether you're a fan of classic Margherita or craving bold, unique flavours, every pizza we make is a
            celebration of quality and craft.</p> 
            <p>No shortcuts. No compromises. Just honest, flavour-packed food made with care.</p>
            <p>mail</p>
        </div>
        
    </div>

</div>

{% endblock %}